.tablero {
    border-radius: 10px;
    background: #fff;
    padding: 20px 30px;
    margin: 0 1rem 1rem;
    box-shadow: 3px 3px 6px #0000001a;
}

.tablero h3 {
    margin: 0;
    color: var(--titulo-color);
    font-weight: 800;
    font-size: 1.3vw;
}

.titulo-coloreado {
    color: var(--color-ticket-nuevo);
}

.tablero hr {
    margin: 1rem 0 1.2rem;
    height: 1px;
    border: none;
    background: var(--hr-color);
}

.span-path {
    color: var(--texto-color);
    font-weight: 500;
}