#file-upload {
    text-align: center;
    margin-top: .25rem;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    border: 1px solid var(--gris-claro);
    background-color: #fff;
    padding: .6em;
    color: var(--hr-color);
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#label-file-upload.drag-active {
    background-color: #f3cbcb;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.imagenes img{
    height: 50px;
    width: auto;
}