.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.badge-container svg {
    filter: drop-shadow(3px 3px 6px #00000010) !important;
    text-transform: capitalize;
    scale: .8;
}
