.btn-open,
.btn-progress,
.btn-pending,
.btn-asigned {
    color: white;
    border-radius: 1rem;
    padding: .6vw 1.5vw;
    box-shadow: 3px 3px 6px #0000001a;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.btn-action {
    height: 3rem;
    border-radius: 20em;
    padding: .3em 1.4em;
    box-shadow: 3px 3px 6px #0000001a;
    margin-left: .8em;
    font-weight: 600;
}

.btn-danger {
    background-color: var(--color-danger);
    border: 2px solid var(--color-danger);
    color: #fff;
}

.btn-success {
    background-color: var(--color-success);
    border: none;
    color: #fff;
}

.btn-tramites {
    background-color: var(--celeste);
    border: none;
    color: #fff;
}

.btn-tickets {
    background-color: var(--color-tickets);
    border: none;
    color: #fff;
}

.btn-tramites:hover {
    background-color: var(--celeste);
    color: #fff;
    filter: contrast(1.1);
    text-decoration: none;
}

.btn-tickets:hover {
    background-color: var(--color-tickets);
    color: #fff;
    filter: contrast(1.1);
    text-decoration: none;
}

.btn-action:hover {
    transform: scale(1.01);
    filter: brightness(1.5);
    filter: saturate(1.5);
    transition: all .3s;
}

.btn-open {
    background-color: var(--color-ticket-nuevo);
}

.btn-progress {
    background-color: var(--color-ticket-asignado);
}

.btn-pending {
    background-color: var(--color-ticket-curso);
}

.btn-asigned {
    background-color: var(--color-ticket-totales);
}

.btn-open:hover, .btn-open:active, .btn-open:focus-visible {
    background-color: var(--color-ticket-nuevo) !important;
    color: #fff !important;
    filter: contrast(1.3);
    text-decoration: none;
}

.btn-progress:hover, .btn-progress:active, .btn-progress:focus-visible {
    background-color: var(--color-ticket-asignado) !important;
    color: #fff !important;
    filter: contrast(1.3);
    text-decoration: none;
}

.btn-pending:hover, .btn-pending:active, .btn-pending:focus-visible {
    background-color: var(--color-ticket-curso) !important;
    color: #fff !important;
    filter: contrast(1.3);
    text-decoration: none;
}

.btn-asigned:hover, .btn-asigned:active, .btn-asigned:focus-visible {
    background-color: var(--color-ticket-totales) !important;
    color: #fff !important;
    filter: contrast(1.3);
    text-decoration: none;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
    font-weight: 600;
}

.btn i {
    display: none;
}

.badge {
    border-radius: 50%;
    color: var(--gris-oscuro);
    background-color: #fff;
    margin: .2rem 0 .2rem 5rem;
    height: 2.3vw;
    width: 2.3vw;
    font-size: 1vw;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6vw;
    
}