.btn-crear-ticket {
    display: inline-block;
    align-items: center;
    background: var(--color-tickets);
    color: #fff;
    text-decoration: none;
    padding: .55rem 1.3rem ;
    border-radius: 20px;
    margin-left: auto;
}

.btn-crear-ticket .fa-plus {
    margin-right: .8rem;
    width: .9em;
    height: .9rem;
}

.btn-crear-usuario {
    margin-bottom: 1rem;
}