.btn-crear-ticket {
    display: inline-block;
    align-items: center;
    background: var(--color-tickets);
    color: #fff;
    text-decoration: none;
    padding: .55rem 1.3rem ;
    border-radius: 20px;
    margin-left: auto;
}

.btn-crear-usuario {
    margin-bottom: 1rem;
}