.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--celeste);
    padding: 1.3rem 2.3rem;
}

.box-header img {
    margin-right: 2rem;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-header {
    width: fit-content;
    padding: 0;
    display: flex;
    justify-content: left;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav-h {
    display: flex;
    margin: 0 3rem 0 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.header-buttons {
    width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-refresh {
    background: url(../../../public/img/refresh-solid.svg) no-repeat center center;
    border: none;
    background-size: contain;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    font-size: 8px;
}

.btn-refresh:focus-visible {
    outline: none;
}
