.header {
    background: var(--celeste);
    padding: 1.3rem 2.3rem;
}

.header img {
    margin-right: 2rem;
}

.container-header {
    width: 80vw;
    padding: 0;
    display: flex;
    justify-content: left;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav-h {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
